//Fonts
$main_font: 'Lato', sans-serif;

//Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colors
$black: #212121;
$second_black: #111111;
$third_black: #000000;
$yellow: #E08709;
$green: #71B100;
$color_social: rgba(0, 140, 255, 0.678);
$white: #FFFFFF;
$gray: #E1E1E1;
$dark_gray: #333333;
