@use 'base/variables' as v;
@use 'base/mixins' as m;

footer {
    background-color: v.$second_black;
    height: auto;
    font-family: "Open Sans";
    padding-top: 4rem;
    color: v.$white;
    
    h3 {
        font-size: 3.6rem;
        font-weight: 400;
    }

    p {
        color: v.$white;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}