@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimonial_head {
    margin-bottom: 2rem;
    @include m.mediaQuery(v.$tablet) {
        margin-bottom: 0;
    }
    h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 3.5rem;
    }

    .testimonial_grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .testimonial_content {
        padding: 2rem;
        width: 35rem;
        height: 40rem;
        background: rgb(236, 236, 236);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border-radius: 1rem;
        blockquote {
            margin: 0;
            font-size: 1.8rem;
        }
        h4 {
            margin: 0;
        }

        .into_person {
            text-align: center;
            margin: 2rem 0;
        }
    }

    .image_test img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        margin: 0 auto;
    }
}