@use 'base/variables' as v;
@use 'base/mixins' as m;


.about {
    @include m.mediaQuery(v.$tablet) {
        @include m.grid_column(2, 1fr) {
            column-gap: 4rem;
        }
    }

    .about-info {
        h3 {
            text-align: left;
            font-size: 2.6rem;
            font-weight: 700;
        }
    }
}

.we_icons-head {
    h2 {
        font-size: 4.4rem;
    }
}